<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SSH_DEMO</display-name>
	
	 <!-- Specify the spring context information location;
    Default location is applicationContext.xml file in classpath
     -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>
	<!-- Bootstrap listener to start up and shut down Spring's root WebApplicationContext. -->
	<!-- 用于tomcat等启动时自动加载spring -->
    <listener> 
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
    </listener>
     <!-- Handles both the preparation and execution phases of the Struts dispatching process. -->
    
     <!-- Struts的前端控制器 -->
    <filter> 
        <filter-name>struts2</filter-name> 
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> 
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter-mapping> 
        <filter-name>struts2</filter-name> 
        <url-pattern>/*</url-pattern> 
    </filter-mapping>
     <!-- Struts Tag Library Descriptors -->
     
     <!-- Include this if you are using Hibernate -->
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    　<filter>
　　　　<filter-name>OpenSessionInViewFilter</filter-name>
　　　　<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
　　　　<init-param>
　　　　　　<param-name>sessionFactoryBeanName</param-name>
　　　　　　<param-value>sessionFactory</param-value>
　　　　</init-param>
　　　　<init-param>
　　　　　　<param-name>singleSession</param-name>
　　　　　　<param-value>true</param-value>
　　　　</init-param>
　　　　<init-param>
　　　　　　<param-name>flushMode </param-name>
　　　　　　<param-value>AUTO</param-value>
　　　　</init-param>
　　</filter>
    
    <!-- 解决乱码问题 -->
　　<filter>
　　　　<filter-name>CharacterFilter</filter-name>
　　　　<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
　　　　<init-param>
　　　　　　<param-name>encoding</param-name>
　　　　　　<param-value>UTF-8</param-value>
　　　　</init-param>
　　</filter>
　　<filter-mapping>
　　　　<filter-name>CharacterFilter</filter-name>
　　　　<url-pattern>/*</url-pattern>
　　</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>